@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
font-family: 'Montserrat', sans-serif;
background-color:#eee;
}

.card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
    
}
.abc{
    border-radius: 10px;
}
.borders{
    border-left:2px solid red;
   
}
.foot a{
    padding:10px;
    text:black;
}
.bottom-border{
    border-bottom:1px solid white;
}
.current{
    background-color: rgb(243, 78, 78);
    
    border-radius: 5px;
}
.current:hover{
    transform:translateY(-1);
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
    background-color:rgb(252, 76, 63);
}
.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
    background-color: rgb(228, 222, 222);
    border-radius:7px;
}

.foot{
    background-color:#eee;
}